<!--
 * IF YOUR NAME IS NOT IN THE FOLLOWING YOU SHOULD NOT BE HERE
 * SIMON MAXWELL
 * XANTE GRAHAM
-->
<ion-content>
	<app-header></app-header>
	<section class="block h-full">
		<div class="container px-6 py-6 mx-auto">
			<div class="grid grid-cols-1 gap-8 xl:mt-12 xl:gap-12 md:grid-cols-2">
				<div
					class="p-2 border rounded-xl border-r-gray-200 shadow-md transform duration-300">
					<div class="md:flex md:items-center md:-mx-4">
						<div class="mt-4 md:mx-auto md:mt-0 h-fit">
							<h1
								class="text-2xl font-bold text-gray-2 capitalize text-center mb-5">
								Items
							</h1>
							<div
								*ngFor="let item of Items; let i = index"
								class="rounded-lg p-4 my-4 hover:bg-slate-800">
								<div
									class="flex flex-col justify-center align-middle items-center">
									<div
										class="flex justify-between w-full md:space-x-10 space-x-5 items-center">
										<input
											class="w-full"
											type="text"
											[(ngModel)]="Items[i].name" />
									</div>
									<div
										class="flex justify-between w-full md:space-x-10 space-x-5 items-center">
										<select class="font-medium w-full">
											<option
												class="w-5/12"
												*ngFor="let cat of Categories"
												[value]="cat.name"
												[selected]="cat.name == item.category"
												disabled>
												{{ cat.name }}
											</option>
										</select>
									</div>
									<div
										class="flex justify-between w-full md:space-x-10 space-x-5 items-center">
										<input
											class="w-3/12"
											type="number"
											[(ngModel)]="Items[i].quantity" />
										<span class="w-5/12">
											$
											<input
												class="w-4/5"
												type="number"
												[(ngModel)]="Items[i].price" />
										</span>
									</div>
									<br />
									<div
										class="flex justify-center md:space-x-6 space-x-3 items-center"
										(click)="updateItem(item._id!, Items[i])">
										<div
											class="hover:text-yellow-400 hover:cursor-pointer">
											<svg
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													fill-rule="evenodd"
													clip-rule="evenodd"
													d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z"
													fill="currentColor" />
												<path
													d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z"
													fill="currentColor" />
											</svg>
										</div>
										<div
											class="hover:text-red-400 hover:cursor-pointer"
											(click)="deleteItem(item._id!)">
											<svg
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													fill-rule="evenodd"
													clip-rule="evenodd"
													d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
													fill="currentColor" />
												<path
													d="M9 9H11V17H9V9Z"
													fill="currentColor" />
												<path
													d="M13 9H15V17H13V9Z"
													fill="currentColor" />
											</svg>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<br />
							<div>
								<div class="flex flex-col justify-center items-center">
									<div class="flex flex-col items-start">
										<!-- <div class="font-medium">Item Name</div>
                    <div class="font-medium">Category</div> -->
										<input
											class="flex-grow-1"
											type="text"
											style="border-style: none"
											placeholder="New Item"
											[(ngModel)]="newItem.name" />
										<br />
										<select
											class="flex-grow-1"
											type="text"
											style="border-style: none"
											placeholder="+"
											[(ngModel)]="newItem.category">
											<option selected disabled [value]="undefined">
												Select a Category
											</option>
											<option
												*ngFor="let category of Categories"
												[value]="category.name">
												{{ category.name }}
											</option>
										</select>
										<br />
										<td>
											<input
												class="flex-grow-1"
												type="number"
												style="border-style: none"
												placeholder="Price"
												[(ngModel)]="newItem.price" />
										</td>
										<br />
										<input
											class="flex-grow-1"
											type="number"
											style="border-style: none"
											placeholder="Amount"
											[(ngModel)]="newItem.quantity" />
										<br />
									</div>
									<div
										class="flex justify-center md:space-x-6 space-x-3 items-center"
										(click)="createItem(newItem)">
										<div
											class="hover:text-green-400 hover:cursor-pointer">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="currentColor">
												<path
													d="M13 2v9h9v2h-9v9h-2v-9h-9v-2h9v-9h2zm2-2h-6v9h-9v6h9v9h6v-9h9v-6h-9v-9z" />
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</ion-content>
